.chat-container{
  flex-grow: 1;
  margin-right : 20px;
  h2{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
  }
  p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
}

.chat-content{
  display: flex;
  flex-direction: column;
  height: 95vh;
}

.chat-message-list{
  flex-grow: 1;
}

.chat-form-button{
  background-color: #4545a5;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.chat-form{
  display: flex;
  align-items: center;
  border-top: solid 1px #DCDDED;
  padding-top: 15px;
  input{
    flex-grow: 1;
    margin-right: 15px;
    border: none;
  }
  input:focus{
    outline: none;
  }
}
